body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.index {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.index-nav {
  height: 10%;
  width: 100%;
}

.index-main {
  flex: 1;
  width: 100%;
}

.index-footer {
 flex-shrink: 0;
  width: 100%;
}

Footer {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
